/*Stucture */

body {
    background-color: darkslategray;
}

#class {
    font-family: Arial, Helvetica, sans-serif;
}

#assign {
    text-align: center;
}

.columns-3 {
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m {
    flex: 2;
    flex-grow: 0;
}

.c1 {
    border: 5px solid black;
    margin: 25px;
    flex-wrap: wrap;
}

/*Typography */

h1 {
     color: black;
     font-weight: bold;
     text-align: center;
}

h2 {
    color: black;
    font-weight: bold;
}

body {
    color: darkgoldenrod;
}
 
a:link, a:visited {
    color: darkgray;
    text-decoration: none;
    padding: 5px 10px 5px;
}

a:hover, a:active {
    color: whitesmoke;
}

/*Larger Resolutions (mobile devices)*/
@media only screen and (max-width: 600px) {
  
.columns-3 {
    display: inline;
    
}



}