/*Stucture */

body {
    background-color: darkslategray;
}

/*Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
     color: black;
}

h2 {
    color: black;
}

body {
    color: darkgoldenrod;
}
 
a {
    text-decoration: none;
    color: darkgray;
}