/*Stucture */

body {
    background-color: darkslategray;
}

#class {
    font-family: Arial, Helvetica, sans-serif;
}

/*Typography */


h1 {
     color: black;
}

h2 {
    color: black;
}

body {
    color: darkgoldenrod;
}
 
a:link, a:visited {
    color: darkgray;
    text-decoration: none;
    padding: 5px 10px 5px;
}

a:hover, a:active {
    color: whitesmoke;
  }