/*Stucture */

body {
    background-color:darkslategray;
}

#pic {
    border-collapse: collapse;
    padding: 5px 10px 5px;
}

img {
    border: 1px solid black;
}

/* Tables */

table {
    border-collapse: collapse;
    background-color: lightcyan;
    padding: 25px 50px 75px;
}

td,
th {
    border: 1px solid black;
}

/*Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: darkgray;
    text-decoration: none;
    padding: 5px 10px 5px;
}

a:hover, a:active {
    color: whitesmoke;
}

#p1,
#p2 {
    color: darkgoldenrod;
}

