/*Stucture */

body {
    background-color:darkgray;
}

div {
    border: 1px solid black;
    padding: 25px 50px 75px;
}

/* Tables */

table {
    border-collapse: collapse;
    background-color: blue;
    padding: 25px 50px 75px;
}

td,
th {
    border: 1px solid black;
}

/*Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

#p1 {
    color: white;
}

#p2 {
    color:lightblue;
}