/* Structure */


/* Animation */
#square {
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: relative;
}

.move-square {
    animation-name: anim-square;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1s;
}

@keyframes anim-square {
    0% {
        background-color: blue;
        opacity: 1;
        top:0px;
    }
    50% {
        background-color: rebeccapurple;
        opacity: 0;
        top:100px;
    }
    100% {
        background-color: green;
        top:0px;
    }
}