/* Typography */

#title {
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    color: black;
}

#over {
    text-align: center;
    font-size: x-large;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
}

.phones {
    text-decoration: none;
    color: black;
}

#hi4 a, #hi a:hover, #hi2 a:hover, #hi3 a:hover, #hi5 a:hover, #hi6 a:hover { 
    border-bottom: 3px solid blue;
}

#headphones {
    margin-left: 13.1%;
}
/* Structure */

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hide {
    display: none;
}

.t1 {
    text-align: center;
}

.head1 {
    background-color: gray;
    width: 42.7%;
}

/* Navigation */

#main-nav {
    display: inline;
    justify-content: space-evenly;
}

#main-nav li {
    list-style-type: none;
}

#main-nav a {
    text-decoration: none;
    font-size: larger;
    color: black;

}

#main-nav2 {
    display:inline;
}

#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    display: flex;
    justify-content: left;
}

#head {
    display: inline;

}

/*Larger Resolutions (mobile devices)*/
@media only screen and (min-width: 600px) { 
    #main-nav {
        display: flex;
    }

    #nav-toggle {
        display: none;
    }

   .hide {
        display: block;
   }
   
   #p1 {
        display: flex;
        justify-self: start;
   }

   #head {
        display: flex;
        justify-content: space-evenly;
   }

   .head1 {
        background-color: gray;
        width: auto;
   }

}



