/* Typography */

#title {
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    color: black;
}

#over {
    text-align: center;
    font-size: x-large;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
}

#text {
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
}

#hi3 a, #hi a:hover, #hi2 a:hover, #hi4 a:hover, #hi5 a:hover, #hi6 a:hover { 
    border-bottom: 3px solid blue;
}

/* Structure */

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hide {
    display: none;
}

.flex {
    display: inline-block;
    justify-content: space-around;
    
}

#box, #rain {
    background-color: white;
    border: 2px solid black;
}

#box, #rain {
    width: 35%; 
    margin: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#p1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */

#main-nav {
    display: inline;
    justify-content: space-evenly;
}

#main-nav li {
    list-style-type: none;
}

#main-nav a {
    text-decoration: none;
    font-size: larger;
    color: black;

}

#main-nav2 {
    display:inline;
}

#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    display: flex;
    justify-content: left;
}

/*Larger Resolutions (mobile devices)*/
@media only screen and (min-width: 600px) { 
    #main-nav {
        display: flex;
    }

    #nav-toggle {
        display: none;
    }

   .hide {
        display: block;
   }
   
   .flex {
        display: flex;
        justify-content: space-evenly;
   }

}


