/* Structure */ 

body {
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

#box, #rain {
    background-color: gray;
}

#box, #rain {
    width: 50%;
    margin: 25px;
}

/* Typography */ 

#text {
    font-size: xx-large;
    text-align: center;
}

.hidden {
    display: none;
}

/* Rainbow */ 

#gold {
    position: absolute;
    right: 149.5px;
    top: 220px;
    z-index: 1;
}

#red, #orange, #yellow, #green, #blue, #indigo {
    
    width: 80%;
    height: 15%;
    position: relative;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

