/* Structure */ 

body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

#running, #funding {
    background-color: orangered;
}

#running {
    margin: 25px;
    width: 50%;
}

#funding {
    width: 50%;
}

img {
margin-left: 0;
}

.hide {
    display: none;
}

#run {
    --x: 0px;
    width: 50;
    height: 75px;
    margin-left: var(--x);
    margin-top: 5px
}

#walk {
    --x: 0px;
    width: 50;
    height: 75px;
    margin-left: var(--x);
    margin-right: 0;
}

#button-walk {
    background: none;
    border: none;
}

/* Rectangle */

#rectangle  {
    width: 50px;
    height: 150px;
    background: #fff;
    margin-left: 200px;
}

#rectangle.red {
    animation-name: rectangle;
    animation-duration: 4s;
    animation-iteration-count: 1s;
    /* background: linear-gradient(180deg, #fff var(--x), red var(--x));  */
}

:root {
    --r: 0%;
    --l: 0%;
}


@keyframes rectangle {
    
    0% {
       
    background: linear-gradient(180deg, #fff var(--r), red var(--l));

    }

    50% {  
      
    background: linear-gradient(180deg, #fff var(--r), red var(--l));
        
    }
    100% {
        
    background: linear-gradient(180deg, #fff var(--r), red var(--l));
        
    }
    
}

/* Typography */ 

#fund {
    font-size: xx-large;
    text-align: center;
}

#goal {
    font-size: x-large;
}
.text {
    text-align: left;
}


